body
  font-family -apple-system, BlinkMacSystemFont, 'avenir next', avenir, 'segoe ui', 'fira sans', roboto, noto, 'droid sans', 'liberation sans', 'lucida grande', 'helvetica neue', helvetica, 'franklin gothic medium', 'century gothic', cantarell, oxygen, ubuntu, sans-serif
  color #303030
  font-size calc(14px + 0.25vw)
  line-height 1.55
  font-kerning normal
  text-rendering optimizeLegibility
  font-feature-settings 'kern', 'liga' 1, 'calt' 0
  padding 0
  margin 0
  height 100vh
  box-sizing border-box
  display flex

#app
  display flex
  flex 1
  flex-direction column

  .app-header
    -webkit-app-region drag
    height 40px
    background #f0f0f0
    text-align center
    line-height 40px

  main
    margin 0 auto
    max-width 600px
    flex 1
    width 100%